/*-------------------------------------------*/
/* <= 1600
/*-------------------------------------------*/

@media (max-width: 1600px) {
    
    .contact-list-item {
        font-size: calc(1rem + 0.104vw);
    }

    .legend {
        display: none;
    }

}

/*-------------------------------------------*/
/* <= 1400
/*-------------------------------------------*/

@media (max-width: 1400px) {
    
    body,
    .button,
    .contact-list-item,
    .left-menu__link {
        font-size: 1rem;
    }

    .news-item__title {
        font-size: calc(1rem + 0.208vw);
    }

}

/*-------------------------------------------*/
/* <= 1200
/*-------------------------------------------*/

@media (max-width: 1200px) {
    
    .menu--main,
    .map-link {
        display: none;
    }

    .mobile-nav-toggle {
        display: block;
    }

    /* Layout */

    .header-first {
        justify-content: space-between;
    }

    .header-second,
    .sidebar {
        display: none;
    }

    .region-header-first-right {
        flex: 0 0 auto;
        padding: 0;
    }

    .wrapper {
        display: block;
    }

    .content {
        width: 100%;
    }

    /* Contacts */

    .contact-list {
        flex-wrap: wrap;
    }    

    .contact-list-item {
        width: 100%;
        padding: 0;
    }

    .contact-list-item:not(:last-child) {
        margin: 0 0 1em 0;
    }
    
    .contact-list-item__label {
        font-size: calc(1rem + 0.533vw);
    }
    
    .contact-list-item__data {
        font-size: calc(1rem + 1.067vw);
    }
    
    .contact-list-item__link {
        color: var(--main-color);
    }
    
    /* Social */

    .social {	
        margin: 0 -4.267vw;
        justify-content: flex-start;
    }

    .social__item {	
        padding: 0 4.267vw;
    }

    .social__link {
        display: block;
        width: 5.867vw;
    }

    /* Forms */

    .button {
        font-size: calc(1rem + 1.067vw);
    }

}

/*-------------------------------------------*/
/* <= 768px
/*-------------------------------------------*/

@media (max-width: 768px) {

    /* Layout */

    .header-first {
        padding: 4.267vw;
    }

    .featured-top,
    .main,
    .region-content-bottom {
        padding: 8.533vw 4.267vw;
    }

    .main .block:not(:last-child) {
        margin: 0 0 8.533vw 0;
    }

    /* Site branding */

    .site-branding__logo {
        width: 10.667vw;
        height: 10.667vw;
        padding: 0.533vw;
    }

    .site-branding__text {
        padding: 0 0 0 2.133vw;
    }

    .site-branding__name {
        font-size: 4.267vw;
    }

    /* Slider */

    .slider,
    .slide {
        padding: 0;
    }

    .slider-sidebar,
    .slide__title,
    .slider-nav {
        display: none;
    }

    /* Headings */

    .page-title {
        font-size: calc(1rem + 3.2vw);
    }
    
    .block-title {
        font-size: calc(1rem + 2.667vw);
    }
    
    .block-title--small {
        font-size: calc(1rem + 1.067vw);
    }

    /* News */

    .news-item__date {
        margin: 0 0 0.5em 0;
    }

    /* About */

    .about__title, 
    .about__body {
        width: 100%;
    }
    
    .about__title {
        padding: 0 0 4.267vw 0;
        font-size: calc(1rem + 3.2vw);
    }

    /* Events */

    .event-list-item:not(:last-child) {
        padding: 0 0 8.533vw 0;
    }  

    .event-list-item__period {
        font-size: 1rem;
    }
    
    .event-list-item__title,
    .field--type-daterange {
        font-size: calc(1rem + 0.533vw);
    }    

    /* Features */

    .features-block {
        padding: 8.533vw 0;
    }
    
    .features-block::before {
        top: 0;
        right: -4.267vw;
        bottom: 0;
        left: -4.267vw; 
    }
    
    .features-block::after {
        display: none;
    }
    
    .view-features__content {
        width: 100%;
        padding: 0;
    }
    
    .feature-list-item:not(:last-child) {
        margin: 0 0 8.533vw 0;
    }
    
    .feature-list-item__title {
        font-size: calc(1rem + 0.533vw);
    }
    
    /* Excursions, services */

    .excursion:not(:last-child),
    .service:not(:last-child) {
        margin: 0 0 8.533vw 0;
    }

    .excursion__image {
        padding: 35%;
    }
    
    .excursion__image,
    .excursion__text,
    .service__image,
    .service__text {
        width: 100%;
    }

    .excursion__title,
    .service__title {
        font-size: calc(1rem + 2.133vw);
    }

    .excursion__period {
        font-size: 1rem;
    }

    .excursion:nth-child(odd) .excursion__text-inner,
    .excursion:nth-child(even) .excursion__text-inner,
    .service:nth-child(odd) .service__text-inner,
    .service:nth-child(even) .service__text-inner {
        margin: 0;	
        padding: 4.267vw 0 0 0;
    }  

    /* Event, bloom page */

    .event-grid-item {
        width: 100%;
        padding: 0 0 8.533vw 0;
    }

    .event-grid-item__period,
    .bloom-list-item__period {
        font-size: 1rem;
    }

    .event-grid-item__title,
    .bloom-list-item__title {
        font-size: calc(1rem + 0.533vw);
    }

    /* News, conference, reception page */

    .news-list-item:not(:last-child),
    .conference-list-item:not(:last-child),
    .reception-item:not(:last-child) {
        margin: 0 0 4.267vw 0;
        padding: 0 0 4.267vw 0;
    }

    .news-list-item__date,
    .conference-list-item__dates,
    .field-type-daterange,
    .reception-item__phone {
        font-size: 1rem;
    }

    .news-list-item__title,
    .conference-list-item__type,
    .conference-list-item__title,
    .reception-item__title,
    .vacancy-list-item__title {
        font-size: calc(1rem + 0.533vw);
    }

    .view-service-files, 
    .view-news-files, 
    .view-conference-files, 
    .view-page-files {
        padding: 1rem;
    }

    /* Content */

    p {
        margin: 0 0 1em 0;
    }

    .node__content, 
    .page-text {
        padding: 0;
    }

    .node__meta {
        font-size: 1rem;
    }

    .node__content .field--type-image {
        position: relative;
        width: 100%;
        float: none;
        margin: 0 0 4.267vw 0;
    }

    .figure--float-right,
    .figure--float-left {
        float: none;
        margin: 0 0 1em 0;	
        width: 100%;
    }    

    /* Products */

    .product-list-item__title {
        font-size: calc(1rem + 0.208vw);
    }

    /* Management */

    .person {
        margin: 0 0 8.533vw  0;
    }

    .person__image,
    .person__text {
        width: 100%;
    }

    .person__text-inner {
        margin: 0;	
        padding: 4.267vw 0 0 0;
    }  

    .person__name {
        font-size: calc(1rem + 2.133vw);
    }

    /* Forms */

    .form-text, 
    .form-email, 
    .form-textarea {
        width: 100%;
        font-size: 1rem;
    }

    /* Prices */

    .price-table td {
        display: block;
    }

    /* Footer */
    
    .footer {
        flex-wrap: wrap;
    }

    .region-footer-left {
        flex: 0 0 auto;
        width: 100%;
        padding: 8.533vw 4.267vw;
        display: block;
    }

    .region-footer-left::before {
        display: none;
    }

    .region-footer-left .block:not(:last-child) {
        margin: 0 0 8.533vw 0;
    }

    .footer-logo {
        width: 25%;
    }

    .region-footer-right {
        width: 100%;
        padding: 8.533vw 4.267vw;
        display: block;
    }

    .region-footer-right .block:not(:last-child) {
        margin: 0 0 8.533vw 0;
    }

    .footer-buttons .field--name-body {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .footer-social {
        margin: 0 0 8.533vw 0;
    }

    .footer-buttons-wrapper {
        margin: 0 0 8.533vw 0;
    }

    /* Mobile navigation */



    .mobile-menu__item {
        width: 100%;
    }
   
}

/*-------------------------------------------*/
/* <= 375px
/*-------------------------------------------*/

@media (max-width: 375px) {

    .mobile-nav {
        width: 90%;
    }

}